

<div class="card-trip">
  <div class="dash-content">
    <div class="pic-dash">
      <%= cl_image_tag @user.avatar_photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    </div>
    <h4>Bienvenue <%= @user.nickname %></h4>
    <div class="show-user-card">
        <a>Description :<br><%= @user.self_description %></a>
        <p>Ville:</p><%= @user.city %>
    </div>
  </div>
</div>

<div class="card-trip">
  <div class="dash-content">
    <h3>Communauté Moonflower </h3>
    <div class="donut" style="--first: <%= @allplasticsforchart %>; --second: <%= @allmetalsforchart %>; --third: <%= @allpapersforchart %>; --fourth: <%= @allglassforchart %>; --fifth: <%= @alldiversforchart %>">
      <div class="donut__slice donut__slice__first"></div>
      <div class="donut__slice donut__slice__second"></div>
      <div class="donut__slice donut__slice__third"></div>
      <div class="donut__slice donut__slice__fourth"></div>
      <div class="donut__slice donut__slice__fifth"></div>
      <div class="donut__label">
        <div class="donut__label__heading">
          Nos résultats
        </div>
        <div class="donut__label__sub">
          en chiffres
        </div>
      </div>
    </div>
    <span style="font-size: 1em; color: #ff6838; padding: 18px">
      <i class="fas fa-dot-circle"></i> plastique <%= @allPlastics %>
    </span>
    <span style="font-size: 1em; color: #ffc820; padding: 18px">
      <i class="fas fa-dot-circle"></i> metal <%= @allmetals %>
    </span>
    <br>
    <span style="font-size: 1em; color: #97c95c; padding: 18px">
      <i class="fas fa-dot-circle"></i> papier <%= @allpapers %>
    </span>
    <span style="font-size: 1em; color: #1cb2f6; padding: 18px">
      <i class="fas fa-dot-circle"></i> verre <%= @allglass %>
    </span>
    <br>
     <span style="font-size: 1em; color: #1685b8; padding: 18px">
      <i class="fas fa-dot-circle"></i> diver <%= @alldivers %>
    </span>
    <br>
    <span style="font-size: 1em; color: #cf6626; padding: 18px">
      total = <%= @totalwasteall %>
    </span>
  </div>
</div>


<% @user.activities.each do |activity| %>
<div class="card-trip">
  <div class="dash-content">
    <!--<p> <%= activity.latitude %></p>-->
    <!--<p> <%= activity.longitude %></p>-->
    <% if activity.waste %>
    <%= activity.created_at.to_time.strftime('%d/%m/%Y à %l:%M %p') %>
    <p>Hey, tu as collecté, <%= activity.waste.quantity %> <%= activity.waste.material %>!</p>
    <p> <%= activity.address %></p>
    <p>Felicitation ! 💪</p>
      <% if activity.user == current_user %>
        <%= link_to edit_activity_path(activity) do %>
          <i class="fas fa-pencil-alt fa-sm"></i>
        <% end %>
      <% end %>
    <% end %>
    <% if activity.user == current_user %>
      <%= link_to activity_path(activity), method: :delete, data: { confirm: 'Etes vous sûr de vouloir supprimer cette action?' } do %>
        <i class="far fa-trash-alt fa-sm"></i>
      <% end %>
    <% end %>

        <div class="like">
          <div class="heart">
           <%= link_to "Voir l'action", activity_path(activity) %>
            <i class="far fa-heart" ></i>

          </div>

          <div class="like-count">
            <%= activity.likes.count  %>
          </div>
        </div>

  </div>
</div>
<% end %>
