<div class="carte-profil">
  <div class="carte-profil-identite">
    <%= cl_image_tag @user.avatar_photo.key, class: "avatar-carte-profil", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <p>
     <% if current_user == @user%>
      <%=@user.name %>
    <% else %>
      <%=@user.name %>
    <% end %>
    </p>
  </div>
  <div class="carte-description-totale">
    <div class="carte-profil-ville">
      <p> <i class="fas fa-street-view"></i> <%= @user.city %></p>
    </div>
    <div class="carte-profil-description">
      <p> <%= @user.self_description %></p>
    </div>
  </div>
</div>

<div class="card-trip">
  <div class="dash-content">
    <h3 style="text-align: center; font-size: 26px;">Communauté MoonFlowers </h3>
    <div class="donut" style="--first: <%= @allplasticsforchart %>; --second: <%= @allmetalsforchart %>; --third: <%= @allpapersforchart %>; --fourth: <%= @allglassforchart %>; --fifth: <%= @alldiversforchart %>">
      <div class="donut__slice donut__slice__first"></div>
      <div class="donut__slice donut__slice__second"></div>
      <div class="donut__slice donut__slice__third"></div>
      <div class="donut__slice donut__slice__fourth"></div>
      <div class="donut__slice donut__slice__fifth"></div>
      <div class="donut__label">
        <div class="donut__label__heading">
          <% if current_user == @user%>
            Mes résultats
          <% else %>
            Ses résultats
          <% end %>
        </div>
        <div class="donut__label__sub">
          en chiffres
        </div>
      </div>
    </div>


    <div class="mega-div-dechet">
      <div class="dechet-colonnes">
        <div class="dechet-col-1">
          <span style="font-size: 1em; color: #ff6838; ">
            <i class="fas fa-dot-circle"></i> Plastique <%= @allPlastics %>
          </span>
          <span style="font-size: 1em; color: #ffc820; ">
            <i class="fas fa-dot-circle"></i> Métal <%= @allmetals %>
          </span>

          <span style="font-size: 1em; color: #97c95c; ">
            <i class="fas fa-dot-circle"></i> Papier <%= @allpapers %>
          </span>
        </div>

        <div class="dechet-col-2">
          <span style="font-size: 1em; color: #1cb2f6; ">
            <i class="fas fa-dot-circle"></i> Verre <%= @allglass %>
          </span>
          <span style="font-size: 1em; color: #1685b8; ">
            <i class="fas fa-dot-circle"></i> Divers <%= @alldivers %>
          </span>
        </div>
        <br>

      </div>

      <span style="font-size: 1em; color: #cf6626; display: flex; justify-content: center; margin-top: 10px;">
        Total = <%= @totalwasteall %>
      </span>
    </div>


  </div>
</div>



  <div class="card-trip-scroll">
    <div class="dash-content">

<div class="actions-content">
  <% if current_user == @user%>
    <h2>Mes actions</h2>
  <% else %>
    <h2>Ses actions </h2>
  <% end %>
</div>
      <% @user.activities.order(created_at: :desc).each do |activity| %>
          <div class="actions-content">

            <div class="carte-activite-description">
              <% if activity.waste %>
                <%= activity.created_at.to_time.strftime('%d/%m/%Y à %l:%M %p') %>

                <p>Total collecté:
                  <% @totaluser = 0 %>
                  <% activity.wastes.each do |waste| %>
                  <% @totaluser += waste.quantity %>
                  <% end %>
                  <%= @totaluser %>
                </p>

                <p><%= activity.address %></p>
              <% end %>
            </div>
            <div class="carte-activite-boutons">
              <% if activity.user == current_user %>
                <%= link_to activity_path(activity), method: :delete, data: { confirm: 'Etes vous sûr de vouloir supprimer cette action?' } do %>
                <i class="far fa-trash-alt fa-sm" style="color: black;"></i>
                <% end %>
              <% end %>

              <div class="lien-detail"><%= link_to "Voir détails", activity_path(activity) %></div>
              <div class="like">
                <div class="heart">
                  <i class="fas fa-heart" ></i>
                </div>
                <div class="like-count">
                  <%= activity.likes.count  %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
