<div id="mainMenuBarAnchor">
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="menu">
  <%= link_to root_path, class: "navbar-brand" do %>
  <h3>MoonFlowers</h3>
    <%= image_tag "https://image.flaticon.com/icons/png/512/3024/3024889.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <li class="nav-item dropdown">
          <%= image_tag "https://image.flaticon.com/icons/png/512/861/861143.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <p>action</p>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Create event", "#", class: "dropdown-item" %>
            <%= link_to "Call the prefecture", "#", class: "dropdown-item" %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <%= image_tag "https://image.flaticon.com/icons/png/512/4474/4474452.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <p>community</p>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Community", activities_path, class: "dropdown-item" %>
            <%= link_to "Forum", "#", class: "dropdown-item" %>
            <%= link_to "Event", "#", class: "dropdown-item" %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <p>dasboard</p>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
