
<div class="card-trip">
  <div class="dash-content">
    <h3>Bienvenue dans la Communauté Moonflower's </h3>
    <div class="donut" style="--first: <%= @allplasticsforchart %>; --second: <%= @allmetalsforchart %>; --third: <%= @allpapersforchart %>; --fourth: <%= @allglassforchart %>; --fifth: <%= @alldiversforchart %>">
      <div class="donut__slice donut__slice__first"></div>
      <div class="donut__slice donut__slice__second"></div>
      <div class="donut__slice donut__slice__third"></div>
      <div class="donut__slice donut__slice__fourth"></div>
      <div class="donut__slice donut__slice__fifth"></div>
      <div class="donut__label">
        <div class="donut__label__heading">
          Our community
        </div>
        <div class="donut__label__sub">
          already picked up
        </div>
      </div>
    </div>
    <span style="font-size: 1em; color: #ff6838; padding: 18px">
      <i class="fas fa-dot-circle"></i> plastique <%= @allPlastics %>
    </span>
    <span style="font-size: 1em; color: #ffc820; padding: 18px">
      <i class="fas fa-dot-circle"></i> metal <%= @allmetals %>
    </span>
    <br>
    <span style="font-size: 1em; color: #97c95c; padding: 18px">
      <i class="fas fa-dot-circle"></i> papier <%= @allpapers %>
    </span>
    <span style="font-size: 1em; color: #1cb2f6; padding: 18px">
      <i class="fas fa-dot-circle"></i> verre <%= @allglass %>
    </span>
    <br>
     <span style="font-size: 1em; color: #1685b8; padding: 18px">
      <i class="fas fa-dot-circle"></i> diver <%= @alldivers %>
    </span>
    <br>
    <span style="font-size: 1em; color: #cf6626; padding: 18px">
      total = <%= @totalwasteall %>
    </span>
  </div>
</div>

<div class="card-trip">
  <div class="dash-content">
    <div id="map"
    style="width: 100%; height: 350px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
