<h1>Bienvenue dans la Communauté Moonflower's </h1>
<p> Actions:</p>
<%= link_to 'Accueil', root_path, class: "btn-back-home-page" %>

<%= link_to "Profil", user_path(current_user) %>
    <div>
      <% User.all.each do |user|%>
        <li>nickname: <%= link_to user.nickname, user_path(user.id) %>
        </li>
      <% end %>
    </div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
