
<div class="card-trip">
  <div class="dash-content">
    <h3>Communauté Moonflower </h3>
    <div class="donut" style="--first: <%= @allplasticsforchart %>; --second: <%= @allmetalsforchart %>; --third: <%= @allpapersforchart %>; --fourth: <%= @allglassforchart %>; --fifth: <%= @alldiversforchart %>">
      <div class="donut__slice donut__slice__first"></div>
      <div class="donut__slice donut__slice__second"></div>
      <div class="donut__slice donut__slice__third"></div>
      <div class="donut__slice donut__slice__fourth"></div>
      <div class="donut__slice donut__slice__fifth"></div>
      <div class="donut__label">
        <div class="donut__label__heading">
          Nos résultats
        </div>
        <div class="donut__label__sub">
          en chiffres
        </div>
      </div>
    </div>

    <div class="mega-div-dechet">
    <div class="dechet-colonnes">
        <div class="dechet-col-1">
          <span style="font-size: 1em; color: #ff6838; ">
            <i class="fas fa-dot-circle"></i> Plastique<%= @allPlastics>1 ? "s" : ""%> <%= @allPlastics%>
          </span>
          <span style="font-size: 1em; color: #ffc820; ">
            <i class="fas fa-dot-circle"></i> Méta<%=@allmetals>1 ? "ux" : "l"%> <%= @allmetals %>
          </span>

          <span style="font-size: 1em; color: #97c95c; ">
            <i class="fas fa-dot-circle"></i> Papier<%=@allpapers>1 ? "s" : ""%> <%= @allpapers %>
          </span>
        </div>

        <div class="dechet-col-2">
          <span style="font-size: 1em; color: #1cb2f6; ">
            <i class="fas fa-dot-circle"></i> Verre<%=@allglass>1 ? "s" : ""%> <%= @allglass %>
          </span>
          <span style="font-size: 1em; color: #1685b8; ">
            <i class="fas fa-dot-circle"></i> Divers <%= @alldivers %>
          </span>
        </div>
        <br>
      </div>

      <span style="font-size: 1em; color: #cf6626; display: flex; justify-content: center; margin-top: 10px;">
        Total = <%= @totalwasteall %> déchet<%=@totalwasteall>1 ? "s" : ""%>
      </span>
    </div>

  </div>
</div>

<div class="card-trip">
  <div class="dash-content">
    <div id="map"
    style="width: 100%; height: 350px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
