
<div class="form-container">

  <h2>Détails de la collecte</h2>

  <div class=“form-activities”>
    <%= simple_form_for (@activity) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class=“form-inputs”>
        <%= f.input :latitude %>
        <%= f.input :longitude %>

        <%= f.simple_fields_for Waste.new do |waste| %>
          <%= waste.input :material,
            as: :check_boxes,
            input_html: { class: "tag-selector" },
            item_wrapper_class: 'tag-item',
            collection: Waste::MATERIALS %>

          <%= waste.input :quantity %>
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" href="#multiCollapseExample1"  aria-expanded="false" aria-controls="multiCollapseExample1">verre</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" href="#multiCollapseExample2"  aria-expanded="false" aria-controls="multiCollapseExample2">papier</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">plastique</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <input name="verre" type="number">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        <input name="plastique" type="number">
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample3">
      <div class="card card-body">
        <input name="plastique" type="number">
      </div>
    </div>
  </div>
</div>




        <% end %>




      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>


  </div>

</div>
