
<div class="card-trip">

  <div class="form-div">
    <h2>Voici ta position</h2>

      <div id="map-new-activity"
        style="width: 100%; height: 280px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class=“form-action-new”>
        <%= simple_form_for (@activity) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class ="hidden input" style="margin-bottom: -94px">
          <%= f.input :latitude %>
          <%= f.input :longitude %>
        </div>

        <h2>Clique et ajoute</h2>

        <%= f.simple_fields_for Waste.new do |waste| %>
          <div class="form-waste">
            <button class="btn btn-primary btn-waste" type="button" data-toggle="collapse" data-target="#material01" aria-expanded="false" aria-controls="material01">
              <img width="60" height="60" src="https://image.flaticon.com/icons/png/512/4185/4185152.png" alt="" title="boîte en carton Icône gratuit" class="loaded">
              <div class="bottomtext"><a>verre</a></div>
            </button>
            <button class="btn btn-primary btn-waste" type="button" data-toggle="collapse" data-target="#material02" aria-expanded="false" aria-controls="material02">
              <img width="60" height="60" src="https://image.flaticon.com/icons/png/512/1598/1598172.png" alt="" title="boîte en carton Icône gratuit" class="loaded">
               <div class="bottomtext"><a>papier</a></div>
           </button>
            <button class="btn btn-primary btn-waste" type="button" data-toggle="collapse" data-target="#material03" aria-expanded="false" aria-controls="material03">
              <img width="60" height="60" src="https://image.flaticon.com/icons/png/512/4380/4380438.png" alt="" title="Plastic bottle free icon" class="loaded">
               <div class="bottomtext"><a>plastique</a></div>
            </button>
            <button class="btn btn-primary btn-waste" type="button" data-toggle="collapse" data-target="#material04" aria-expanded="false" aria-controls="material04">
              <img width="60" height="60" src="https://image.flaticon.com/icons/png/512/2372/2372106.png" alt="" title="Plastic bottle free icon" class="loaded">
               <div class="bottomtext"><a>metal</a></div>
            </button>
            <button class="btn btn-primary btn-waste" type="button" data-toggle="collapse" data-target="#material05" aria-expanded="false" aria-controls="material04">
              <img width="60" height="60" src="https://image.flaticon.com/icons/png/512/4815/4815240.png" alt="" title="Plastic bottle free icon" class="loaded">
               <div class="bottomtext"><a>divers</a></div>
            </button>
          </div>
        <% end %>

          <div class="inputs-waste">
            <div class="col-waste">
              <div class="collapse multi-collapse" id="material01">
                <div class="card card-body card-waste">
                  <input name="verre" type="number" class="input-waste" placeholder="0">
                </div>
              </div>
            </div>
            <div class="col-waste">
              <div class="collapse multi-collapse" id="material02">
                <div class="card card-body card-waste">
                  <input name="papier" type="number" class="input-waste" placeholder="0">
                </div>
              </div>
            </div>
            <div class="col-waste">
              <div class="collapse multi-collapse" id="material03">
                <div class="card card-body card-waste">
                  <input name="plastique" type="number" class="input-waste" placeholder="0">
                </div>
              </div>
            </div>
            <div class="col-waste">
              <div class="collapse multi-collapse" id="material04">
                <div class="card card-body card-waste">
                  <input name="metal" type="number" class="input-waste" placeholder="0">
                </div>
              </div>
            </div>
            <div class="col-waste">
              <div class="collapse multi-collapse" id="material05">
                <div class="card card-body card-waste">
                  <input name="divers" type="number" class="input-waste" placeholder="0">
                </div>
              </div>
            </div>
          </div>

        <div class="form-actions">
          <input type="submit" name="commit" value="Valide" class="btn" data-disable-with="Valide">
        </div>
      <% end %>
    </div>
  </div>
</div>
