<br>
<div class="card-trip">
  <div class="dash-content">

<h3>Récapitulatif de ton action</h3>

<div class="container-action-show">

<div class="card-info-user-action-show">
  <%= link_to user_path(current_user) do %>
    <%= @activity.user.nickname %>
  <% end %>
</div>
<br>
  <div class="like">
        <div class="heart">
          <%= link_to activity_likes_path(@activity), method: :create do %>
          <i class="far fa-heart" ></i>
          <% end %>
        </div>

        <div class="like-count">
          <%= @activity.likes.count  %>
        </div>
  </div>


<div><h3>Collecte de <%= "#{current_user.nickname}" %></h3></div>
<p> <%= @activity.address %></p>

<div>
  <% if @activity.waste %>
      <% @activity.wastes.each do |waste| %>
        <% case waste.material %>
          <% when "Verre" %>
            <div><img width="60" height="60" src="https://image.flaticon.com/icons/png/512/1039/1039781.png" alt="poubelle verre">  <div><%= waste.quantity %></div></div>
          <% when "Papier" %>
            <div><img width="60" height="60" src="https://image.flaticon.com/icons/png/512/1039/1039780.png" alt="poubelle papier">  <div><%= waste.quantity %></div></div>
          <% when "Plastique" %>
            <div><img width="60" height="60" src="https://image.flaticon.com/icons/png/512/1039/1039778.png" alt="poubelle plastique">  <div><%= waste.quantity %></div></div>
          <% when "Métal" %>
            <div><img width="60" height="60" src="https://image.flaticon.com/icons/png/512/1039/1039782.png" alt="poubelle métal">  <div><%= waste.quantity %></div></div>
          <% else %>
            <div><img width="60" height="60" src="https://image.flaticon.com/icons/png/512/1039/1039763.png" alt="poubelle divers">  <div><%= waste.quantity %></div></div>
        <% end %>
      <% end %>
      <div> Total : <%= @total %></div>
  <% end %>
</div>


<%= link_to activity_path, method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimer cette action?' } do %>
  <i class="far fa-trash-alt fa-sm"></i>
<% end %>

<div><br><h3>Carte des moonflowers</h3></div>

<div class="map-action-show">

    <div id="map"
      style="width: 100%; height: 280px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>
</div>
</div>
</div>
