<br>
<div class="card-trip">
  <div class="dash-content">

<h3>Récapitulatif de ton action</h3>

<div class="container-action-show">

<div class="card-info-user-action-show">
  <%= link_to user_path(current_user) do %>
    <%= @activity.user.nickname %>
  <% end %>
</div>
<br>
  <div class="like">
        <div class="heart">
          <%= link_to activity_likes_path(@activity), method: :create do %>
          <i class="far fa-heart" ></i>
          <% end %>
        </div>

        <div class="like-count">
          <%= @activity.likes.count  %>
        </div>
  </div>


<div><h3>Collecte du jour </h3></div>
<p> <%= @activity.latitude %></p>
<p> <%= @activity.longitude %></p>


<% if @activity.waste %>
<% @activity.wastes.each do |waste| %>
<p><%= waste.material %> : <%= waste.quantity %></p>
<% end %>
 <p> Total : <%= @total %></p>
<% end %>




<%= link_to edit_activity_path(@activity) do %>
  <i class="fas fa-pencil-alt fa-sm"></i>
<% end %>
<%= link_to activity_path, method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimer cette action?' } do %>
  <i class="far fa-trash-alt fa-sm"></i>
<% end %>

<p><%= link_to 'Modifier', edit_activity_path(@activity) %></p>
<%= link_to 'Supprimer', activity_path, method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimer cette action?' } %></p>



<div><br><h3>Carte des moonflowers</h3></div>


<div class="map-action-show">

    <div id="map-new-activity"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>

<div class="button-show-activiy">
    <%= link_to 'Communauté des moonflowers', activities_path, class:"btn-back-community" %>
</div>

</div>

</div>
</div>
