<h1>Récapitulatif de ton action:</h1>

<%= link_to 'Accueil', root_path, class: "btn-back-home-page" %>

<div class="container-action-show">

<div class="card-info-user-action-show">
  avatar photo
  <%= @activity.user.nickname %>
</div>



<%= link_to "Profile", user_path(current_user) %>

<div><h1>Collecte du jour </h1></div>
<p> <%= @activity.latitude %></p>
<p> <%= @activity.longitude %></p>
<% if @activity.waste %>
<% @activity.wastes.each do |waste| %>
<p><%= waste.material %> : <%= waste.quantity %></p>
<% end %>
 <p> Total : <%= @total %></p>
<% end %>

<p><%= link_to 'Modifier', edit_activity_path(@activity) %></p>
<%= link_to 'Supprimer', activity_path, method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimer cette action?' } %></p>


<div><h1>Carte des moonflowers:</h1></div>


<div class="map-action-show">
  <p> carte </p>
</div> %>

<div class="button-show-activiy">
    <%= link_to 'Communauté des moonflowers', activities_path, class:"btn-back-community" %>
</div>



</div>
