<h1>Your activity details</h1>

navbar menu

<%= link_to 'Back home', root_path, class: "btn-back-home-page" %>


<div class="container-action-show">


<div class="card-info-user-action-show">
  avatar photo
  <%= @user %>
  location user and number of commitments
</div>



<div><h1>Your daily collect:</h1></div>
  <div class="form-resume-action-show">
    <%# <p> Time.now ???????? </p>
    <p> collected: <%= waste.all %></p>
    <%# <p> collected: <%= waste.type %></p>
    <%# <p> Address: <%= action.longitude, action.latitude %></p>
  </div>
<div>

<div><h1>Moonflower's map:</h1></div>


<div class="map-action-show">

<p> map </p>


</div>


</div>
